@charset "utf-8";

@font-face {
	font-family:QuicksandBook;
	src:url(./century-gothic.otf)
}

h1,h2,h3,h4,h5,h5,h6,.big-quote,.button {
	font-family:QuicksandBook, Century Gothic,Helvetica,Arial,sans-serif
}

body {
	background-color:#F7F7F7;
	background-image:url(../images-rut13/bg-pattern.png);
	background-repeat:repeat;
	color:#9A9A9A;
	font-family:QuicksandBook,sans-serif;
	font-size:12px;
	line-height:18px;
	margin:0;
	padding:0
}

a,a:visited {
	color:#946436;
	text-decoration:none
}

a:hover {
	color:#2A2C0C;
	font-weight:700;
	text-decoration:underline
}

a img {
	border:medium none
}

.imgcenter {
	display:block;
	margin:2px auto 15px
}

.imgmiddle {
	margin-right:8px;
	vertical-align:middle
}

.imgopt {
	display:block;
	margin:-10px auto 15px
}

.imgleft {
	float:left;
	margin:4px 13px 12px 0
}

.imgright {
	float:right;
	margin:4px 0 12px 13px
}

hr {
	background-color:#E6E6E6;
	border-width:0;
	clear:both;
	color:#E6E6E6;
	height:1px;
	line-height:0;
	margin:30px 0!important;
	page-break-after:always
}

strong {
	color:#757575
}

.italictext {
	font-size:14px;
	font-style:italic;
	line-height:18px;
	margin-bottom:20px
}

p,ul,ol,blockquote {
	margin-bottom:20px
}

ul li {
	line-height:20px;
	padding:0
}

code {
	background:none repeat scroll 0 0 #FFF;
	border-left:2px solid #CCC;
	color:#858585;
	display:block;
	font-size:11px;
	margin-bottom:10px;
	padding:5px 10px
}

.pullquote_right,.pullquote_left {
	border-left:2px solid #CCC;
	color:#9C9C9C;
	float:right;
	font-size:1.2em;
	font-style:italic;
	font-weight:700;
	letter-spacing:0;
	line-height:1.4em;
	margin-bottom:0;
	margin-left:20px;
	margin-top:7px;
	padding-left:15px;
	width:40%
}

.pullquote_left {
	border-left:medium none;
	border-right:2px solid #CCC;
	float:left;
	margin-left:0;
	margin-right:10px;
	padding-left:0;
	padding-right:15px
}

.dropcap {
	float:left;
	font-size:30px;
	height:41px;
	line-height:30px;
	margin-bottom:-10px;
	margin-right:0;
	padding-top:3px;
	text-align:center;
	width:41px
}

.info {
	background:url(../images-rut13/info.png) no-repeat scroll 12px 9px #DCEFF5;
	border:1px solid #B8E7F5;
	color:#478BBF;
	margin:15px 0;
	padding:8px 10px 8px 37px
}

.success {
	background:url(../images-rut13/success.png) no-repeat scroll 12px 9px #D7F7DF;
	border:1px solid #A3F7B8;
	color:#3F9153;
	margin:15px 0;
	padding:8px 10px 8px 37px
}

.error {
	background:url(../images-rut13/error.png) no-repeat scroll 12px 9px #FFD6D6;
	border:1px solid #FFC2C2;
	color:#C24848;
	margin:15px 0;
	padding:8px 10px 8px 37px
}

.warning {
	background:url(../images-rut13/warning.png) no-repeat scroll 12px 9px #FAF2D7;
	border:1px solid #FAE8AF;
	color:#CF9E00;
	margin:15px 0;
	padding:8px 10px 8px 37px
}

ul.arrow li {
	background-image:url(../images-rut13/list-general.png);
	background-position:0 center;
	background-repeat:no-repeat;
	line-height:24px;
	list-style-type:none;
	padding:0 0 0 12px
}

ul.checklist li {
	background-image:url(../images-rut13/checklist.png)!important;
	background-position:0 center;
	background-repeat:no-repeat;
	line-height:24px!important;
	list-style-type:none;
	padding:0 0 0 20px!important
}

ul.circle {
	list-style-type:none;
	margin:0 0 25px;
	padding:0
}

ul.circle li {
	background-image:url(../images-rut13/circle.png);
	background-position:0 11px;
	background-repeat:no-repeat;
	margin:0;
	padding:4px 0 4px 18px
}

ul.nolistblock li {
	background-image:none!important;
	display:inline-block;
	line-height:20px;
	margin:0 12px 0 0;
	padding:0!important
}

li.marginoff {
	margin-right:0!important
}

ol li {
	line-height:24px;
	list-style:decimal inside none
}

blockquote {
	background-image:url(../images-rut13/quote.png);
	background-position:0 6px;
	background-repeat:no-repeat;
	float:left;
	font-style:italic;
	padding-left:35px
}

.clear {
	clear:both
}

.center {
	margin-bottom:10px;
	text-align:center
}

h1 {
	color:#3C3C3C;
	font-size:34px;
	font-weight:lighter;
	line-height:26px;
	margin-bottom:15px
}

h2 {
	color:#3C3C3C;
	font-size:28px;
	font-weight:lighter;
	line-height:24px;
	margin-bottom:15px
}

h3 {
	color:#3C3C3C;
	font-size:24px;
	font-weight:lighter;
	line-height:20px;
	margin-bottom:15px
}

h4 {
	color:#3C3C3C;
	font-size:18px;
	font-weight:lighter;
	line-height:18px;
	margin-bottom:15px
}

h5 {
	color:#3C3C3C;
	font-size:16px;
	font-weight:lighter;
	line-height:16px;
	margin-bottom:15px
}

h6 {
	color:#3C3C3C;
	font-size:14px;
	font-weight:lighter;
	line-height:16px;
	margin-bottom:15px
}

.boldtext-medium {
	color:#C6C6C6;
	font-size:12px;
	font-weight:700
}

.boldtext-strong {
	color:#C6C6C6;
	font-size:20px;
	font-weight:700
}

.price {
	color:#7F7F7F;
	font-size:36px;
	font-weight:700
}

.boxtitle-hosting {
	color:#7F7F7F;
	display:block;
	font-size:14px;
	font-weight:700;
	line-height:10px;
	padding:0 0 15px
}

.redtext {
	color:#C22127
}

small {
	font-size:11px
}

p#vtip {
	background-color:#FFF;
	border:1px solid #DDDADA;
	display:none;
	font-size:11px;
	left:5px;
	padding:6px 10px;
	position:absolute;
	z-index:9999
}

#container {
	margin:28px auto 0;
	width:960px
}

#header {
	background-color:#963;
	background-image:url(../images-rut13/bg-top-header.png);
	background-repeat:no-repeat;
	float:left;
	height:100px;
	vertical-align:middle;
	width:960px
}

#logo {
	float:left;
	margin:15px 0 0 35px
}

#quote-top {
	float:right;
	margin:-8px 31px 0 0
}

#page-title {
	background-image:url(../images-rut13/big-ornament.png);
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:240px;
	width:960px
}

#product-name {
	background-image:url(../images-rut13/small-ornament.png);
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:80px;
	width:960px
}

#page-title-inner {
	background-image:url(../images-rut13/big-ornament.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	float:left;
	height:134px;
	padding-top:14px;
	width:960px
}

#product-name-inner {
	background-image:url(../images-rut13/small-ornament.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	float:left;
	height:134px;
	padding-top:14px;
	width:960px
}

#page-title h1,#page-title-inner h1 {
	color:#946436;
	margin-top:29px;
	text-align:center
}

#product-name h1,#product-name-inner h1 {
	color:#946436;
	margin-top:29px;
	text-align:center
}

#menu-search {
	background-color:#6b6b6a;
	float:left;
	height:47px;
	width:960px;
	background-color:#1C1010;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#1C1010),to(#654321));
	background-image:-webkit-linear-gradient(top,#1C1010,#654321);
	background-image:-moz-linear-gradient(top,#1C1010,#654321);
	background-image:-ms-linear-gradient(top,#1C1010,#654321);
	background-image:-o-linear-gradient(top,#1C1010,#654321);
	background-image:linear-gradient(top,#1C1010,#654321);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#1C1010',EndColorStr='#654321')
}

#mainmenu {
	float:left;
	margin:10px 0 0 15px
}

#mainmenu ul {
	float:left;
	line-height:38px;
	position:relative;
	text-shadow:0 1px 0 #000;
	z-index:100
}

#mainmenu ul li {
	background-image:none;
	color:#EEE;
	float:left;
	padding:3px 15px 8px;
	position:relative
}

#mainmenu ul li a,#mainmenu ul li a:visited {
	color:#EEE;
	text-decoration:none;
	width:115px
}

#mainmenu ul li li a {
	display:block;
	float:left
}

#mainmenu ul li a:hover,#mainmenu ul li.current a {
	color:#6B6B6A;
	font-weight:700;
	text-decoration:none
}

.menu li li {
	margin:0;
	padding:0;
	position:relative;
	z-index:100
}

#menu li li {
	line-height:20px!important;
	margin:0!important;
	padding:0!important;
	position:relative;
	z-index:100
}

#menu ul {
	background-color:#6B6B6A;
	display:none;
	left:0;
	padding:2px 0 8px!important;
	position:absolute;
	top:30px;
	width:255px;
	background-color:#1C1010;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#1C1010),to(#654321));
	background-image:-webkit-linear-gradient(top,#1C1010,#654321);
	background-image:-moz-linear-gradient(top,#1C1010,#654321);
	background-image:-ms-linear-gradient(top,#1C1010,#654321);
	background-image:-o-linear-gradient(top,#1C1010,#654321);
	background-image:linear-gradient(top,#1C1010,#654321);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#1C1010',EndColorStr='#654321')
}

#menu ul ul {
	left:135px;
	top:0
}

#menu li ul a,#menu li ul a:visited {
	color:#EEE!important;
	font-size:12px;
	line-height:24px;
	padding:0 15px;
	text-decoration:none;
	width:255px;
	z-index:100
}

#search-box {
	z-index:0;
	margin-left:0;
	margin-bottom:0;
	margin-right:2px;
	margin-top:7px;
	height:50px;
	width:288px;
	float:right
}

.search-fieldset {
	border:medium none
}

#search {
	float:left;
	margin:15px
}

#s {
	background-color:#FFF;
	border:1px solid #D0D0D0;
	color:#ADACAC;
	font-size:11px;
	padding:6px 0 6px 5px;
	width:213px
}

#s:focus {
	background-color:#FFF;
	border:1px solid #B7B7B7;
	color:#ADACAC
}

#search .go {
	background:url(../images-rut13/search-icon.gif) repeat scroll 0 0 transparent;
	border:medium none;
	cursor:pointer;
	height:17px;
	margin:5px 0 0 -23px;
	position:absolute;
	width:18px
}

@media not all {
#search .go {
	margin:-24px 0 0 197px
}
}

@media not all,not all {
#search .go {
	margin:6px 0 0 -26px
}
}

#slideshow {
	background-image:url(../images-rut13/shadow-big.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	float:left;
	height:480px;
	width:960px
}

#shadow-noscript {
	display:none
}

.slide-type1,.slide-type2,.slide-type4 {
	float:left;
	height:480px;
	width:960px
}

.slide-type1 h1 {
	color:#747474;
	font-size:54px;
	margin:-250px 0 3px 50px;
	width:420px
}

.slide-type1 h3 {
	color:#ADABAB;
	font-size:30px;
	margin:0 0 25px 50px;
	width:420px
}

.slidetext {
	background-color:#000;
	bottom:0;
	color:#DFDFDF;
	left:0;
	opacity:.65;
	padding:21px 20px;
	position:absolute;
	text-align:right;
	width:920px;
	z-index:100
}

.slide-type3 {
	background-color:#D6D6D6;
	float:left;
	height:480px;
	width:960px
}

.slide-type3 img {
	float:left
}

.slide-type3 h1 {
	color:#8D162A;
	float:left;
	margin:45px 0 16px 30px;
	width:292px
}

.slide-type3 p {
	color:#919191;
	float:left;
	margin-left:30px;
	width:292px
}

.slide-img-left {
	float:left;
	margin:21px 0 0 57px;
	width:380px
}

.slide-button {
	float:right;
	margin:8px 30px 0 0
}

#pager {
	margin:-67px 0 0 22px;
	position:absolute;
	z-index:100
}

#pager a {
	background:url(../images-rut13/slidenav.png) no-repeat scroll 0 0 transparent;
	display:inline-block;
	font-size:0;
	height:10px;
	margin:11px 4px 0;
	outline-style:none;
	outline-width:medium;
	text-indent:-9999px;
	width:10px
}

#pager .activeSlide {
	background:url(../images-rut13/slidenav-active.png) no-repeat scroll 0 0 transparent
}

#content {
	float:left;
	width:960px
}

.maincontent {
	float:left;
	padding:40px 0
}

.maincontent-inner {
	float:left;
	padding:40px 0 60px
}

#content-left {
	float:left;
	margin-right:30px;
	width:609px
}

#content-right {
	height:725px;
	float:left;
	width:320px
}

#content-fullwidth {
	float:left;
	margin:0;
	width:960px
}

.front-left {
	float:left;
	margin-right:18px;
	width:505px
}

.front-right {
	float:left;
	margin-right:0;
	width:430px
}

.front-testi {
	float:left;
	margin-top:12px
}

.front-testi p {
	float:left;
	margin:19px 0 0 38px
}

.testi-avatar {
	float:left;
	width:139px
}

.big-quote {
	color:#ADADAD;
	float:left;
	font-size:27px;
	line-height:22px;
	margin:0;
	padding:0 0 0 36px;
	width:330px
}

.big-quote p {
	float:left;
	margin:0;
	padding:0
}

.front-box {
	background-color:#DDD;
	float:left;
	height:110px;
	margin-bottom:20px
}

.front-box h4 {
	float:left;
	margin:12px 0 8px 21px;
	width:280px
}

.front-box p {
	float:left;
	line-height:18px;
	margin:0 0 12px 21px;
	width:280px
}

.front-box img {
	float:left;
	height:110px;
	width:110px
}

.front-testi-alt {
	float:left;
	line-height:30px;
	width:265px
}

.testi-name-front {
	float:left;
	margin:23px 0 0 38px
}

.client-logo {
	border-top:1px solid #D6D6D6;
	float:left;
	margin:30px 0 -12px;
	padding:25px 0 0;
	width:960px
}

ul.client-list {
	list-style-type:none;
	padding:0;
	width:960px
}

ul.client-list li {
	float:left;
	margin:0 10px;
	width:172px
}

.sidebar-box {
	background-color:#DDD;
	float:left;
	margin-bottom:40px;
	padding:18px 20px 8px;
	width:280px
}

.sidebar-box-brochure {
	background-color:#FBFBFB;
	border:1px solid #DDD;
	float:left;
	margin-bottom:40px;
	padding:18px 20px 8px;
	width:278px
}

.sidebar-nobox {
	float:left;
	margin-bottom:35px;
	width:280px
}

.sidebar-quote {
	float:left;
	margin-bottom:20px;
	width:280px
}

.sidebar-box h3 {
	margin-bottom:10px
}

.sidebar-list {
	margin-top:-3px
}

ul.sidebar-list li {
	background-image:url(../images-rut13/dot-team.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	line-height:28px;
	list-style-type:none;
	padding-bottom:3px
}

ul.sidebar-list li a,ul.sidebar-list li a:visited {
	background-image:url(../images-rut13/list-general.png);
	background-position:0 5px;
	background-repeat:no-repeat;
	color:#9B9B9B;
	padding:0 0 0 14px;
	text-decoration:none
}

ul.sidebar-list li a:hover {
	background-image:url(../images-rut13/list-general.png);
	background-position:0 5px;
	background-repeat:no-repeat;
	color:#B1B1B1;
	padding:0 0 0 14px;
	text-decoration:none
}

#bottom-content {
	background-color:#946436;
	float:left;
	width:960px
}

#bottom-content-closed {
	background-color:#946436;
	background-image:url(../images-rut13/small-ornament.png);
	background-position:center top;
	background-repeat:no-repeat;
	float:left;
	height:60px;
	padding-bottom:14px;
	width:960px
}

#bottom-content-shadow {
	background-image:url(../images-rut13/shadow-big.png);
	background-position:center top;
	background-repeat:no-repeat;
	float:left;
	height:34px;
	width:960px
}

#bottom-list-container {
	color:#9A9A9A;
	float:left;
	padding:0 29px 20px 28px;
	width:960px
}

.box-list {
	color:#FFF;
	float:left;
	margin:24px 28px 0 0;
	width:166px
}

.box-list h3 {
	color:#FFF;
	float:left;
	margin-bottom:20px;
	width:195px
}

.box-list-content {
	color:#FFF;
	float:left;
	margin:24px 28px 0 0;
	width:322px
}

.box-list-content h3 {
	color:#FFF;
	float:left;
	margin-bottom:20px;
	width:322px
}

ul.list-bottom {
	list-style-type:none;
	margin:15px 0 0;
	padding:0
}

ul.list-bottom li {
/* background-image:url(../images-rut13/bottom-dot.png); */
	background-position:center bottom;
	background-repeat:repeat-x;
	line-height:24px;
	margin-bottom:4px;
	padding-bottom:4px
}

ul.list-bottom-social li {
	border-bottom:1px solid #6A6A6A;
	line-height:1.5em;
	margin-bottom:4px;
	padding:0 0 6px
}

ul.list-bottom-social li img {
	float:left;
	margin:1px 7px 0 0
}

ul.list-bottom li a,ul.list-bottom-social li a {
	color:#FFF;
	text-decoration:none
}

ul.list-bottom li a:hover,ul.list-bottom-social li a:hover {
	text-decoration:underline
}

.social-heading {
	margin:15px 0 -5px
}

ul.social-list {
	list-style-type:none;
	margin-left:-4px;
	padding:0;
	width:322px
}

ul.social-list li {
	float:left;
	margin:-5px 4px 0;
	width:32px
}

#copyright {
	color:#9F9E9E;
	float:left;
	padding:18px 0;
	width:960px
}

.copyright-text {
	color:#FFF;
	float:left;
	font-size:11px;
	margin:37px 0 0 29px
}

.back-to-top {
	color:#FFF;
	float:right;
	font-size:11px;
	margin:37px 29px 0 0
}

.back-to-top a,.back-to-top a:hover,.back-to-top a:visited {
	color:#FFF;
	text-decoration:none
}

.team-box {
	background-color:#DDD;
	float:left;
	margin:0 18px 18px 0;
	width:191px
}

.team-box-last {
	background-color:#DDD;
	float:left;
	margin:0 0 18px;
	width:191px
}

.team-box h4,.team-box-last h4 {
	margin-bottom:8px;
	padding:7px 13px 0
}

.team-box p,.team-box-last p {
	background-image:url(../images-rut13/dot-team.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	font-size:11px;
	line-height:18px;
	margin-left:13px;
	padding-bottom:13px;
	width:165px
}

.social-team {
	margin:-5px 0 13px 13px;
	text-align:center;
	width:165px
}

.social-team a {
	margin-right:2px
}

.services-column {
	float:left;
	margin:10px 18px 15px 0;
	width:308px
}

.services-column-last {
	float:left;
	margin:10px 0 15px;
	width:308px
}

.services-column h4,.services-column-last h4 {
	background-image:url(../images-rut13/dot-content.png);
	background-position:center bottom;
	background-repeat:repeat-x;
	margin-bottom:10px;
	overflow:hidden;
	padding-bottom:10px;
	width:235px
}

.serv-icon {
	float:left;
	padding-top:3px;
	width:73px
}

.info-icon {
	float:left;
	padding-top:3px;
	width:58px
}

.text-services {
	overflow:hidden
}

.faq-contact {
	background-image:url(../images-rut13/dot-team.gif);
	background-position:center top;
	background-repeat:repeat-x;
	float:left;
	margin:-5px 0 0 5px;
	padding:16px 0 12px;
	width:250px
}

.faq-contact h5 {
	color:#747474;
	margin-bottom:6px
}

.left-heading {
	float:left;
	width:43px
}

.right-heading {
	float:left;
	width:179px
}

.pdf-icon {
	float:left;
	margin-left:-4px;
	width:54px
}

.pdf-download {
	float:left;
	margin-left:5px
}

.pdf-download h3 {
	margin:2px 0 3px
}

.pdf-download h3 a,.pdf-download h3 a:visited {
	color:#3C3C3C;
	text-decoration:none
}

.heading-brow {
	color:#9D9C9C;
	margin:-10px 0 0 28px;
	width:280px
}

.choose-heading {
	margin:15px 0 5px
}

.process {
	border-top:1px solid #D6D6D6;
	float:left;
	margin:15px 0 -12px;
	padding:25px 0 0;
	width:960px
}

ul.process-list {
	list-style-type:none;
	padding:20px 0 0 35px;
	width:960px
}

ul.process-list li {
	float:left;
	margin:0 13px
}

.pr-box {
	background-image:url(../images-rut13/process-circle.png);
	background-repeat:no-repeat;
	float:left;
	height:140px;
	width:140px
}

.pr-box h2 {
	color:#FFF;
	font-size:26px;
	margin-top:40px;
	text-align:center;
	width:140px
}

.pr-arrow {
	float:left;
	padding-top:46px;
	width:49px
}

.pricing-table {
	float:left;
	margin-bottom:50px;
	width:960px
}

ul.desc-column {
	background-image:url(../images-rut13/desc-table-bg.png);
	background-position:right center;
	background-repeat:repeat-y;
	float:left;
	margin-top:71px;
	padding:14px 0 17px 10px;
	width:254px
}

ul.desc-column li {
	background-image:url(../images-rut13/circle.png);
	background-position:0 12px;
	background-repeat:no-repeat;
	color:#717171;
	font-size:18px;
	margin:0;
	padding:6px 0 6px 18px
}

ul.feature-list {
	font-size:14px;
	padding:15px 0 0
}

ul.feature-list li {
	line-height:32px
}

.separator {
	background-image:url(../images-rut13/dot-content.png);
	background-position:center center;
	background-repeat:repeat-x;
	height:2px;
	margin:15px 0 15px 16px;
	width:138px
}

ul.desc-column li.desc-separator {
	background-image:none;
	height:14px;
	width:246px
}

.pric-column {
	background-color:#F1F1F1;
	border-bottom:1px solid #A1A1A1;
	border-left:1px solid #A1A1A1;
	float:left;
	text-align:center;
	width:171px
}

.pric-column-last {
	background-color:#F1F1F1;
	border-bottom:1px solid #A1A1A1;
	border-left:1px solid #A1A1A1;
	border-right:1px solid #A1A1A1;
	float:left;
	text-align:center;
	width:170px
}

.heading-column {
	float:left;
	padding:14px 0 16px;
	text-align:center;
	width:172px
}

.heading-column h3,.heading-column h5 {
	color:#FFF;
	margin-bottom:0
}

.color1 {
	background-color:#A1A1A1
}

.color2 {
	background-color:#939393
}

.color3 {
	background-color:#828282
}

.color4 {
	background-color:#717171
}

.button-pricing {
	background-color:#A1A1A1;
	color:#FFF!important;
	display:inline-block;
	font-size:18px;
	margin:18px 0 8px;
	padding:7px 0 9px;
	width:110px
}

.button-pricing:hover {
	color:#FFF;
	text-decoration:none
}

.pricing-icon {
	float:left;
	padding-top:3px;
	width:77px
}

.ask {
	border-bottom:1px solid #DDD;
	clear:both;
	cursor:pointer;
	font-size:12px;
	padding:1px 0 9px
}

.ask h5 {
	margin:3px 0 0
}

.question {
	background-color:#FBFBFB;
	border-bottom:1px solid #DDD;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	margin:-5px 0 10px;
	padding:15px 18px 0
}

.openquestion {
	color:#9A9A9A!important;
	margin-bottom:5px
}

.closedquestion {
	color:#9A9A9A!important;
	margin-bottom:5px
}

.testi-box {
	float:left;
	margin-bottom:22px;
	width:610px
}

.client-image {
	background-image:url(../images-rut13/testi-baloon.png);
	background-position:right top;
	background-repeat:no-repeat;
	position:absolute;
	width:114px;
	z-index:100
}

.client-testi {
	background-color:#FBFBFB;
	border:1px solid #DDD;
	float:left;
	margin-left:113px;
	padding:17px 15px 20px;
	width:466px
}

.quote-testi {
	color:#9E9E9E;
	float:left;
	font-size:18px;
	width:423px
}

.client-name {
	float:left;
	margin:10px 0 0 114px
}

.heading-404 {
	font-size:200px;
	margin-bottom:-45px;
	text-align:center
}

.heading2-404 {
	font-size:47px;
	text-align:center
}

.message-404 {
	border-bottom:1px solid #D6D6D6;
	border-top:1px solid #D6D6D6;
	float:left;
	font-size:14px;
	font-style:italic;
	margin-top:10px;
	padding-top:16px
}

.col-217 {
	display:inline-block;
	margin-right:27px;
	padding:0!important;
	vertical-align:top;
	width:217px!important
}

.col-217-last {
	display:inline-block;
	margin-right:0;
	padding:0!important;
	vertical-align:top;
	width:217px!important
}

.col-300 {
	display:inline-block;
	margin-right:27px;
	padding:0!important;
	vertical-align:top;
	width:300px!important
}

.col-300-last {
	display:inline-block;
	margin-right:0;
	padding:0!important;
	vertical-align:top;
	width:300px!important
}

.col-465 {
	display:inline-block;
	margin-right:27px;
	padding:0!important;
	vertical-align:top;
	width:465px!important
}

.col-465-last {
	display:inline-block;
	margin-right:0;
	padding:0!important;
	vertical-align:top;
	width:465px!important
}

.col-630 {
	display:inline-block;
	margin-right:27px;
	padding:0!important;
	vertical-align:top;
	width:630px!important
}

.col-630-last {
	display:inline-block;
	margin-right:0;
	padding:0!important;
	vertical-align:top;
	width:630px!important
}

.col-274 {
	display:inline-block;
	margin-right:20px;
	padding:0!important;
	vertical-align:top;
	width:274px!important
}

.col-274-last {
	display:inline-block;
	margin-right:0;
	padding:0!important;
	vertical-align:top;
	width:274px!important
}

.button {
	background-color:#6b6b6a;
	color:#FFF!important;
	display:inline-block;
	font-size:18px;
	margin-right:14px;
	padding:9px 16px 11px;
	-webkit-border-radius:6px;
/* Saf3-4, iOS 1-3.2, Android <1.6 */
	-moz-border-radius:6px;
/* FF1-3.6 */
	border-radius:6px;
/* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
/* useful if you don't want a bg color from leaking outside the border: */
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	background-color:#1C1010;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#1C1010),to(#654321));
	background-image:-webkit-linear-gradient(top,#1C1010,#654321);
	background-image:-moz-linear-gradient(top,#1C1010,#654321);
	background-image:-ms-linear-gradient(top,#1C1010,#654321);
	background-image:-o-linear-gradient(top,#1C1010,#654321);
	background-image:linear-gradient(top,#1C1010,#654321);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#1C1010',EndColorStr='#654321')
}

.button:hover {
	color:#FFF;
	text-decoration:none
}

.blog-post {
	border-bottom:1px solid #D6D6D6;
	float:left;
	margin-bottom:29px;
	padding-bottom:27px
}

.blog-post-inner {
	float:left;
	margin-bottom:0;
	padding-bottom:27px
}

.blog-post h3,.blog-post-inner h3 {
	margin-bottom:6px
}

.blog-post h3 a,.blog-post h3 a:visited,.blog-post h3 a:hover {
	color:#3C3C3C;
	text-decoration:none
}

.blog-post img,.blog-post-inner img {
	margin-bottom:8px
}

.post-info {
	background-color:#DDD;
	float:left;
	font-size:11px;
	margin:0;
	width:609px
}

ul.post-info-list {
	list-style-type:none;
	padding:7px 5px
}

ul.post-info-list li {
	color:#9A9A9A;
	float:left;
	font-size:11px;
	font-style:italic;
	margin:0 12px
}

ul.post-info-list li img {
	float:left;
	margin:3px 3px 0 0
}

.blogbutton {
	float:right;
	margin-right:0
}

.sponsor-box {
	background-color:#DDD;
	float:left;
	margin-bottom:40px;
	padding:10px 10px 5px;
	width:300px
}

.popular-list {
	float:left;
	margin:1px 0 5px
}

ul.popular-list li {
	background-image:url(../images-rut13/dot-team.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	float:left;
	line-height:6px;
	list-style-type:none;
	margin-bottom:12px
}

ul.popular-list li h5 {
	font-size:16px;
	line-height:22px;
	margin-bottom:6px
}

ul.popular-list li img {
	float:left;
	margin:4px 10px 0 0
}

ul.popular-list li p {
	float:left;
	font-style:italic;
	margin-top:10px
}

ul.popular-list li a,ul.popular-list li a:visited {
	color:#3C3C3C;
	text-decoration:none
}

ul.popular-list li a:hover {
	color:#9B9B9B;
	text-decoration:none
}

.twitter_div {
	background-color:#FBFBFB;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-top:1px solid #DDD;
	float:left;
	padding:7px
}

#twitter_update_list li {
	float:left;
	font-size:12px;
	list-style:none outside none;
	margin-left:10px;
	padding:10px 0
}

#twitter_update_list li a {
	color:#B1B1B1
}

#twitter_update_list li a:hover {
	color:#B1B1B1;
	text-decoration:underline
}

.twitt-bird {
	background-image:url(../images-rut13/twiit-bird.png);
	background-repeat:no-repeat;
	float:left;
	font-size:11px;
	height:33px;
	margin-bottom:40px;
	padding-top:10px;
	text-align:right;
	width:320px
}

.twitt-bird a,.twitt-bird a:hover,.twitt-bird a:visited {
	color:#71D2FB;
	text-decoration:none
}

.blog-pagination {
	float:left;
	width:609px
}

.pages {
	clear:left;
	line-height:30px;
	margin-bottom:10px
}

.blogpages {
	margin:10px 0
}

.pfpages {
	margin:-15px 0 12px
}

.pageof {
	background-color:#A1A1A1;
	border:1px solid #A1A1A1;
	color:#FFF;
	font-size:18px;
	margin-right:5px;
	padding:8px 12px!important
}

.pages a {
	background-color:#A1A1A1;
	border:1px solid #A1A1A1;
	color:#FFF!important;
	font-size:18px;
	margin:0 5px;
	padding:8px 10px;
	text-decoration:none
}

.pages a:hover {
	background-color:#A1A1A1;
	border:1px solid #A1A1A1;
	color:#FFF!important;
	text-decoration:none
}

.pages a.current {
	background-color:#FBFBFB;
	border:1px solid #DDD;
	color:#A1A1A1!important
}

#recentPostList {
	background-color:#FBFBFB;
	border:1px solid #DDD;
	float:left;
	margin:0 0 10px;
	padding:15px 20px 0;
	width:569px
}

#related-post-title {
	border-bottom:1px solid #DDD;
	color:#2F87AA;
	font-weight:700;
	height:20px;
	padding:3px 0 8px
}

.related-item-wrapper {
	color:#ADACAC;
	cursor:pointer;
	float:left;
	font-size:11px;
	margin-right:15px;
	padding:8px 0;
	width:277px
}

.related-item-wrapper-last {
	color:#ADACAC;
	cursor:pointer;
	float:left;
	font-size:11px;
	padding:8px 0;
	width:277px
}

.related-item-wrapper p,.related-item-wrapper-last p {
	line-height:14px
}

.related-item-wrapper:hover,.related-item-wrapper-last:hover {
	color:#6F6F6F;
	height:90px
}

.related-item-wrapper h5,.related-item-wrapper h5 a,.related-item-wrapper h5 a:visited {
	color:#3C3C3C;
	margin-bottom:8px;
	text-decoration:none
}

.related-item-wrapper-last h5,.related-item-wrapper-last h5 a,.related-item-wrapper-last h5 a:visited {
	color:#3C3C3C;
	margin-bottom:8px;
	text-decoration:none
}

.related-item-wrapper img,.related-item-wrapper-last img {
	height:65px;
	width:65px
}

.img-related {
	float:left;
	margin:2px 8px 5px 0
}

#comment {
	float:left;
	padding:20px 0 8px;
	width:609px
}

#comment ol {
	list-style-type:none!important;
	margin:0;
	padding:10px 0 0
}

#comment ol li ol {
	margin-left:80px
}

.commentlist li {
	line-height:18px;
	list-style:none outside none;
	position:relative
}

.commentlist li small {
	font-size:11px;
	font-style:italic
}

.avatar {
	left:0;
	position:absolute;
	top:0
}

.avatar img {
	height:64px;
	width:64px
}

.comment-text {
	border-bottom:1px solid #E2E1E1;
	margin-bottom:10px;
	margin-left:80px;
	padding:0 0 5px;
	width:auto
}

.reply {
	float:right
}

.comment-area {
	background-color:#DDD;
	float:left;
	margin:28px 0 35px;
	padding:20px 21px 10px;
	width:569px
}

.comment-area h3 {
	background-image:url(../images-rut13/dot-team.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	float:left;
	margin-bottom:15px;
	padding-bottom:15px;
	width:569px
}

.comment-label {
	display:block;
	margin-bottom:2px
}

.textfield-comment {
	background-color:#FFF;
	border:2px solid #CACACA;
	color:#939393;
	display:inline;
	float:left;
	font-family:Tahoma,Arial,verdana;
	font-size:12px;
	margin:0 10px 11px 0;
	padding:7px 5px;
	width:168px
}

@media not all,not all {
.comment-field {
	width:567px;
	border:0 none
}
}

.field-nomargin {
	float:left;
	margin-right:0
}

.textarea-comment {
	background-color:#FFF;
	border:2px solid #CACACA;
	color:#939393;
	font-family:Tahoma,Arial,verdana;
	font-size:12px;
	margin:0 0 10px;
	overflow:hidden;
	padding:10px 5px;
	width:554px
}

.label-form-inline {
	float:left
}

.item {
	border:1px dotted #6b6b6a;
	float:left;
	height:400px;
	margin:0 18px 18px 0;
	overflow:hidden;
	position:relative;
	width:220px
}

.item-last {
	border:1px dotted #6b6b6a;
	float:left;
	height:400px;
	margin:0 0 18px;
	overflow:hidden;
	position:relative;
	width:220px
}

.item .caption,.item-last .caption {
	background:none repeat scroll 0 0 #000;
	color:#FFF;
	display:none;
	font-weight:700;
	height:400px;
	left:0;
	opacity:.8;
	padding:15px;
	position:absolute;
	width:216px
}

.item .caption a,.item-last .caption a {
	color:#FFF;
	display:block;
	font-size:12px;
	margin:38px 0 12px;
	text-align:right;
	text-decoration:none;
	width:186px
}

.item .caption p,.item-last .caption p {
	text-overflow:ellipsis;
	padding-bottom:12px;
	font-size:11px;
	margin:0;
	width:186px
}

.item img,.item-last img {
	border:0 none;
	position:absolute
}

.item .caption .pf-title,.item-last .caption .pf-title {
	font-size:17px;
	margin:5px 0 15px
}

.item .caption .pf-title a,.item-last .caption .pf-title a {
	font-size:17px;
	margin:5px 0 15px;
	text-align:left
}

.item .caption .pf-subtitle,.item-last .caption .pf-subtitle {
	font-size:14px;
	margin:5px 0 10px
}

.pf-pagination {
	float:right;
	margin:20px 0
}

#contact-left {
	float:left;
	margin-right:18px;
	width:471px
}

#contact-right {
	background-color:#DDD;
	float:left;
	margin-right:0;
	width:471px
}

#map {
	float:left;
	height:282px;
	width:471px
}

.address-left {
	float:left;
	font-size:11px;
	margin:25px 18px 8px 20px;
	width:207px
}

.address-right {
	float:left;
	font-size:11px;
	margin:25px 0 8px 25px;
	width:207px
}

#contact_area {
	padding:0;
	position:relative
}

#contactFormArea {
	float:left;
	margin:-20px 0 20px;
	padding:24px 0 0;
	width:406px
}

label {
	margin-bottom:3px
}

fieldset {
	border:0 none
}

.textfield {
	background-color:#FBFBFB;
	border:2px solid #DDD;
	color:#959494;
	font-size:12px;
	margin:0 0 10px;
	padding:7px 5px;
	width:406px
}

.input-submit {
	background-color:#A1A1A1;
	border:medium none;
	color:#FFF!important;
	cursor:pointer;
	display:inline-block;
	float:right;
	font-size:16px;
	padding:9px 16px 11px
}

.textarea {
	background-color:#FBFBFB;
	border:2px solid #DDD;
	color:#959494;
	font-family:Arial;
	font-size:12px;
	margin:0 0 15px;
	overflow:hidden;
	padding:6px 5px;
	width:406px
}

.loading {
	background:url(../images-rut13/loading-contact.gif) no-repeat scroll left top transparent;
	color:#797979;
	float:right;
	margin:13px 20px 0 0;
	padding-left:25px
}

.success-contact {
	background:url(../images-rut13/success.png) no-repeat scroll 50px 9px #D7F7DF;
	border:1px solid #A3F7B8;
	color:#3F9153;
	float:left;
	margin-bottom:10px;
	padding:8px 10px 8px 37px;
	text-align:center;
	width:369px
}